{% extends 'base.html' %}

{% block content %}

<div class="container text-center">
  <h1 class="pt-3">{{ detail.title }}</h1>
  <hr>
</div><br><br>
<div class="row">
  <div class="col-4">
    <img class="img-fluid" src="{{ detail.image.url }}" alt="Some Error">
  </div>
  <div class="col-8">
    <u><h5>Objective:</h5></u>
    <p>{{ detail.body }}</p>
    <br><br>
    <u><h5>Languages Used:</h5></u>
    <p>{{ detail.languages }}</p>
    <br><br>
    <u><h5>Github Url:</h5></u>
    <a href="{{ detail.url }}"><p>{{ detail.url }}</p></a>

  </div>
</div>
<div class="container text-center">
  {% if detail.homepage %}
  <u><h3>Screenshots</h3></u>
  <img class="img-fluid" src="{{ detail.homepage.url }}" alt="Some Error"><br><br>
  <img class="img-fluid" src="{{ detail.screenshot1.url }}" alt="Some Error"><br><br>
  <img class="img-fluid" src="{{ detail.screenshot2.url }}" alt="Some Error"><br><br>
  {% endif %}
</div>



{% endblock %}
